<a href="https://colab.research.google.com/github/Sriram-6740/minor-codes/blob/main/code1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
!pip install fuzzywuzzy
from fuzzywuzzy import process
import pandas as pd
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.7/dist-packages (0.18.0)

In [23]:
movies='/content/drive/MyDrive/minor/movies.csv'
ratings='/content/drive/MyDrive/minor/ratings.csv'

df_movies=pd.read_csv(movies, usecols=['movieId','title'], dtype={'movieId':'int32','title':'str'})
df_ratings=pd.read_csv(ratings, usecols=['userId','movieId','rating'],dtype={'userId':'int32','movieId':'int32','rating':'float32'})

In [37]:
df_movies

      movieId                                      title
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

[9742 rows x 2 columns]

In [24]:
movies_users=df_ratings.pivot(index='movieId', columns='userId',values='rating').fillna(0)
mat_movies_users=csr_matrix(movies_users.values)

In [25]:
# Euclidean Distance
# Manhattan Distance
# Minkowski Distance 
# Cosine Similarity
model_knn= NearestNeighbors(metric='cosine', algorithm='brute', n_neighbors=20)

In [26]:
model_knn.fit(mat_movies_users)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=20, p=2,
                 radius=1.0)

In [38]:
# Recommendation of movies.

def recommender(movie_name, data,model, n_recommendations ):
    model.fit(data)
    idx=process.extractOne(movie_name, df_movies['title'])[2]
    print('Movie Selected: ',df_movies['title'][idx], 'Index: ',idx)
    print('Searching for your recommendations...')
    distances, indices=model.kneighbors(data[idx], n_neighbors=n_recommendations)
    for i in indices:
        print(df_movies['title'][i].where(i!=idx))
    
recommender('Grumpier Old Men (1995)', mat_movies_users, model_knn,20)

Movie Selected:  Grumpier Old Men (1995) Index:  2
Searching for your recommendations...
2                                              NaN
2578                        Good Earth, The (1937)
607                              Striptease (1996)
622                    Nutty Professor, The (1996)
594                                 Twister (1996)
4               Father of the Bride Part II (1995)
84                             Broken Arrow (1996)
58                                 Bio-Dome (1996)
577            Truth About Cats & Dogs, The (1996)
6                                   Sabrina (1995)
116                           Birdcage, The (1996)
475                              Son in Law (1993)
291                               Tommy Boy (1995)
815     Willy Wonka & the Chocolate Factory (1971)
630                              Phenomenon (1996)
431                      Executive Decision (1996)
485                               Tombstone (1993)
619                          Cable Guy, The (1996)
71                               Juror, The (1996)
363                Beverly Hillbillies, The (1993)
Name: title, dtype: object