<a href="https://colab.research.google.com/github/Sriram-6740/minor-codes/blob/main/code3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import pandas as pd
import numpy as np

In [88]:
movies_df = pd.read_csv('/content/drive/MyDrive/minor/movies.csv',usecols=['movieId','title'],dtype={'movieId': 'int32', 'title': 'str'})
ratings_df=pd.read_csv('/content/drive/MyDrive/minor/ratings.csv',usecols=['userId', 'movieId', 'rating'],
dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [89]:
ratings_df.head()

   userId  movieId  rating
0       1        1   4.000
1       1        3   4.000
2       1        6   4.000
3       1       47   5.000
4       1       50   5.000

In [90]:
df = pd.merge(ratings_df,movies_df,on='movieId')
df.head()

   userId  movieId  rating             title
0       1        1   4.000  Toy Story (1995)
1       5        1   4.000  Toy Story (1995)
2       7        1   4.500  Toy Story (1995)
3      15        1   2.500  Toy Story (1995)
4      17        1   4.500  Toy Story (1995)

In [91]:
combine_movie_rating = df.dropna(axis = 0, subset = ['title'])
movie_ratingCount = (combine_movie_rating.
     groupby(by = ['title'])['rating'].
     count().
     reset_index().
     rename(columns = {'rating': 'totalRatingCount'})
     [['title', 'totalRatingCount']]
    )
movie_ratingCount.head()

                                     title  totalRatingCount
0                               '71 (2014)                 1
1  'Hellboy': The Seeds of Creation (2004)                 1
2                   'Round Midnight (1986)                 2
3                      'Salem's Lot (2004)                 1
4                'Til There Was You (1997)                 2

In [92]:
rating_with_totalRatingCount = combine_movie_rating.merge(movie_ratingCount, left_on = 'title', right_on = 'title', how = 'left')
rating_with_totalRatingCount.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1   4.000  Toy Story (1995)               215
1       5        1   4.000  Toy Story (1995)               215
2       7        1   4.500  Toy Story (1995)               215
3      15        1   2.500  Toy Story (1995)               215
4      17        1   4.500  Toy Story (1995)               215

In [93]:
pd.set_option('display.float_format', lambda x: '%.3f' % x)
print(movie_ratingCount['totalRatingCount'].describe())

count   9719.000
mean      10.375
std       22.406
min        1.000
25%        1.000
50%        3.000
75%        9.000
max      329.000
Name: totalRatingCount, dtype: float64

In [94]:
popularity_threshold = 50
rating_popular_movie= rating_with_totalRatingCount.query('totalRatingCount >= @popularity_threshold')
rating_popular_movie.head()

   userId  movieId  rating             title  totalRatingCount
0       1        1   4.000  Toy Story (1995)               215
1       5        1   4.000  Toy Story (1995)               215
2       7        1   4.500  Toy Story (1995)               215
3      15        1   2.500  Toy Story (1995)               215
4      17        1   4.500  Toy Story (1995)               215

In [95]:
rating_popular_movie.shape

(41362, 5)

In [124]:
#creating pivot

movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df

userId                              1     2     3    ...   608   609   610
title                                                ...
10 Things I Hate About You (1999) 0.000 0.000 0.000  ... 0.000 0.000 0.000
12 Angry Men (1957)               0.000 0.000 0.000  ... 0.000 0.000 0.000
2001: A Space Odyssey (1968)      0.000 0.000 0.000  ... 3.000 0.000 4.500
28 Days Later (2002)              0.000 0.000 0.000  ... 3.500 0.000 5.000
300 (2007)                        0.000 0.000 0.000  ... 5.000 0.000 4.000
...                                 ...   ...   ...  ...   ...   ...   ...
X2: X-Men United (2003)           0.000 0.000 0.000  ... 4.000 0.000 4.000
You've Got Mail (1998)            0.000 0.000 0.500  ... 0.000 0.000 0.000
Young Frankenstein (1974)         5.000 0.000 0.000  ... 0.000 0.000 0.000
Zombieland (2009)                 0.000 3.000 0.000  ... 0.000 0.000 3.500
Zoolander (2001)                  0.000 0.000 0.000  ... 3.000 0.000 4.000

[450 rows x 606 columns]

In [97]:
from scipy.sparse import csr_matrix

movie_features_df_matrix = csr_matrix(movie_features_df.values)

from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_features_df_matrix)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
                 metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                 radius=1.0)

In [98]:
movie_features_df.shape

(450, 606)

In [130]:
j=200
query_index = np.random.choice(movie_features_df.shape[0])
query_index = j
print(query_index)

200

In [100]:
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

In [145]:

movie_features_df.index[j]

'High Fidelity (2000)'

In [143]:
for i in range(0,len(distances.flatten())): 
  if i == 0: 
    print('Recommendations for {0}:\n'.format(movie_features_df.index[j])) 
  else: 
    print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for High Fidelity (2000):

1: Dark Knight, The (2008), with distance of 0.3487183451652527:
2: Pirates of the Caribbean: The Curse of the Black Pearl (2003), with distance of 0.35499107837677:
3: V for Vendetta (2006), with distance of 0.3686490058898926:
4: Sin City (2005), with distance of 0.3690353035926819:
5: Lord of the Rings: The Return of the King, The (2003), with distance of 0.37426090240478516: